:host {
  background-color: var(--color-neutral-dark-blue);
  border-radius: 15px;
  height: 22.5rem;
  padding: 1.562rem 1.562rem 1.875rem;
  width: 20.312rem;
}

main {
  height: 100%;
}

article {
  height: 100%;
}

@media (min-width: 80rem) {
  :host {
    border-radius: 25px;
    height: 25.937rem;
    padding: 2.187rem;
    width: 25.625rem;
  }
}
