:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

img {
  aspect-ratio: 1;
  background-color: var(--color-neutral-medium-grey);
  border-radius: 50%;
  object-fit: none;
  width: 2.5rem;
}

h1 {
  color: var(--color-neutral-white);
  font-size: 1.45rem;
}

p {
  color: var(--color-neutral-light-grey);
  font-size: 0.85rem;
  line-height: 1.5;
}

form {
  display: contents;
}

.chips {
  margin-inline: auto;
}

.chip:hover {
  background-color: var(--color-primary-orange);
}

.button {
  background-color: var(--color-primary-orange);
  font: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-orange);
}

@media (min-width: 80rem) {
  img {
    width: 2.7rem;
  }

  h1 {
    font-size: 1.65rem;
  }

  p {
    font-size: 0.937rem;
    line-height: 1.7;
  }
}
