:host {
  display: block;
  padding-top: 0.6rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto 1.65rem;
  width: 9rem;
}

.selected {
  align-items: center;
  color: var(--color-primary-orange);
  display: flex;
  font-size: 0.9rem;
  height: 1.875rem;
  justify-content: center;
  margin: 0 auto 1.7rem;
}

h1 {
  color: var(--color-neutral-white);
  margin-bottom: 0.7rem;
}

.we {
  color: var(--color-neutral-light-grey);
  font-size: 0.89rem;
  line-height: 1.5;
}

@media (min-width: 80rem) {
  :host {
    padding-top: 0.75rem;
  }

  img {
    margin-bottom: 2.1rem;
    width: 10.312rem;
  }

  .selected {
    font-size: 0.95rem;
    margin-bottom: 2.1rem;
  }

  h1 {
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
  }

  .we {
    font-size: 0.93rem;
  }
}
